{% extends 'templates/app.twig' %}
{% block content %}

    <navbar>
        <ul>
            <li>Home</li>
            <li>q</li>
            <li>a</li>
            <li>Ton nom</li>
            <li><a href="">s'inscrire</a></li>
            <li><a href="">se connecter</a></li>
        </ul>
    </navbar>

{% endblock content %}