{% extends "templates/app.twig" %}
{% block content %}
{{ element.libelle }}
{% if element.type == "method" %}
	(
	{% if element.parametre != null %}
    	{{ element.parametre }}
	{% endif %}
	)
{% endif %}
<br/><br/>
<table border="1" style="border-collapse: collapse;">
{% for commentaire in commentaires %}
	<tr>
		<td>{{ commentaire.commentaire }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}