{% extends "templates/app.twig" %}
{% block content %}
<form method="POST" action="{{ path_for('dictionary.edit', {'id': element.id}) }}?type={{ element.type }}">
	Nom de l'élément: <input type="text" name="name" value="{{ element.libelle }}"><br/>
	{% if type == "method" %}
		Paramètre: <input type="text" name="parameter"><br/>
	{% endif %}
	<input class="btn btn-primary" type="submit" name="submit" value="Modifier">
	<input type="hidden" name="_METHOD" value="PUT">
	{{ csrf.field | raw }}
</form>
{% endblock %}