{% extends "templates/app.twig" %}
{% block content %}
	<div class="row m-auto">
		<div class="card" style="width: 18rem;">
			<h4>Exporter au format XML</h4>
			<div class="card-body">
				<a class="btn btn-primary" href="export?format=xml">Télécharger</a>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<h4>Exporter au format CSV</h4>
			<div class="card-body">
				<a class="btn btn-primary" href="export?format=csv">Télécharger</a>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<h4>Exporter au format JSON</h4>
			<div class="card-body">
				<a class="btn btn-primary" href="export?format=json">Télécharger</a>
			</div>
		</div>
	</div>
{% endblock %}