{% extends "templates/app.twig" %}
{% block content %}
<a href="export?format=xml">export en XML</a>
<a href="export?format=csv">export en CSV</a>
<a href="export?format=json">export en JSON</a>
{% endblock %}