{% extends "templates/app.twig" %}
{% block content %}
<form method="POST" action="{{ path_for('dictionary.create') }}?type={{ type }}">
	Nom de l'élément: <input type="text" name="name"><br/>
	{% if type == "method" %}
		Paramètre: <input type="text" name="parameter"><br/>
		<!-- plusieurs paramètres?? -->
	{% endif %}
	<input type="submit" name="submit" value="Ajouter">
	{{ csrf.field | raw }}
</form>
{% endblock %}