<form method="POST" action="{{ type }}/send">
	Nom de l'élément: <input type="text" name="name"><br/>
	{% if type == "method" %}
		Paramètre: <input type="text" name="parameter"><br/>
		<!-- plusieurs paramètres?? -->
	{% endif %}
	<input type="submit" name="submit" value="Ajouter">
</form>