{% extends 'templates/app.twig' %}
{% block content %}

<form method="POST" action="checkMail" id="formUpdateMail">
	<h2>Changement d'adresse email</h2>
	<span>Nouvelle adresse mail : </span><input type="text" id="mail" name="mail" required="required">
	<span>Confirmer l'adresse mail : </span><input type="text" id="mail2" name="mail2" required="required">
	<input type="submit" name='valide' value="valider">
</form>

{% endblock %}