{% extends 'templates/app.twig' %}
{% block content %}
	Nom : {{ nom }}<br />
	Prenom : {{ prenom }}<br />
	Level d'acces : {{ level }}<br />
	Mail : {{ mail }}<a href='profil/updateMail'>Modifier Adresse email</a><br />
	<a href='profil/updatePass'>Modifier mot de passe</a>

{% endblock %}