{% extends 'templates/app.twig' %}
{% block content %}

<img src="../ressources/views/home/img/baniere.png" id="imgBaniere">
<h2 id="h2Accueil"> Dernières séquences : </h2>
<div id="lastSequence">
	<a href="" class="miniaVideo">
		<img src="../ressources/views/home/img/baniere.png" class="imgMinia">
	</a>
	<a href="" class="miniaVideo">
		<img src="../ressources/views/home/img/baniere.png" class="imgMinia">
	</a>
	<a href="" class="miniaVideo">
		<img src="../ressources/views/home/img/baniere.png" class="imgMinia">
	</a>
</div>

{% endblock content %}