{% extends 'templates/app.twig' %}

{% block content %}

chercher par le nom d'un chercheur :
<input type="text" list="laListe" id="chercheur">
<datalist id="laListe"></datalist>
<input type="button" id="rechercher" value="rechercher">
<input type="button" id="mesVideos" value="Mes vidéos">
<div id="lesVideos">
	
</div>
{% endblock %}

{% block jshead %}

	<script type="text/javascript" src="{{ base_url() }}/jplayer/js/jquery.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			loadVideos();
			$("#mesVideos").click(function(event){
				if($("#mesVideos").val() == "Mes vidéos"){
					$.ajax({
				        url : '../getVideosSearcher', // La ressource ciblée
				        type : 'GET', // Le type de la requête HTTP.
				        success : function(code_html, statut){
				       		let video = JSON.parse(code_html);
				       		let HTML = "";
				       		video.forEach(function(element){
				       			HTML += "<div>" + element + "</div>";
				       		});
				       		$("#lesVideos").html(HTML);
				        }
				    });
					$("#mesVideos").val("toute les vidéos");
				}
				else{
					$("#mesVideos").val("Mes vidéos");

					loadVideos();
				}
			});

			$("#chercheur").keyup(function(event){
				if($("#chercheur").val() != ""){
					$.ajax({
				        url : '../getSearcher/' + $("#chercheur").val(), // La ressource ciblée
				        type : 'GET', // Le type de la requête HTTP.
				        success : function(code_html, statut){
				       		let video = JSON.parse(code_html);
				       		let HTML = "";
				       		video.forEach(function(element){
				       			HTML += "<option value='" + element + "'>";
				       		});
				       		$("#laListe").html(HTML);
				        }
					});
				}
				
			});

			$("#rechercher").click(function(event){
				$.ajax({
			        url : '../VideosSearcher/' + $("#chercheur").val(), // La ressource ciblée
			        type : 'GET', // Le type de la requête HTTP.
			        success : function(code_html, statut){
			       		let video = JSON.parse(code_html);
			       		console.log(video);
			       		let HTML = "";
			       		video.forEach(function(element){
			       			HTML += "<div>" + element + "</div>";
			       		});
			       		$("#lesVideos").html(HTML);
			       		$("#chercheur").val("");
			        }
				});
			});

			function loadVideos(){
				$.ajax({
			        url : '../getAllVideos', // La ressource ciblée
			        type : 'GET', // Le type de la requête HTTP.
			        success : function(code_html, statut){
			       		let video = JSON.parse(code_html);
			       		let HTML = "";
			       		video.forEach(function(element){
			       			HTML += "<div>" + element + "</div>";
			       		});
			       		$("#lesVideos").html(HTML);
			        }
				});
			}
		});
	</script>

{% endblock %}